body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* START: Added Google Translate Widget Styles */
#google_translate_element {
  position: center;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  background: white;
  padding: 1px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* This is needed to hide the default Google Translate banner */
body > .skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}
/* END: Added Google Translate Widget Styles */