/* Make the Google Translate widget visible */
#google_translate_element {
  display: block;
}

/* Style the container created by the script */
.skiptranslate {
  display: inline-block !important;
  opacity: 1 !important;
  visibility: visible !important;
  top: 0; /* Or any position that works for your layout */
  left: 0; /* Or any position that works for your layout */
}

/* The iframe that contains the actual language dropdown */
.goog-te-gadget-simple {
  display: inline-block !important;
  border: 1px solid #ccc !important;
  padding: 5px !important;
  border-radius: 4px !important;
  background-color: white !important;
}

body {
  top: 0px !important;
}